*{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.container {
    
    padding: 2em;
    /* border: ridge rgb(235, 156, 11);
    border-width: 6px; */
    
}

h1 {
    font-size: 4em;
    font-weight: 900;
}

h2 {
    font-size: 3em;
    font-weight: 700;
}

h3 {
    font-size: 2em;
    text-align: center;
    padding-right: 0.5em;
    font-weight: 700;
}




#diceOne, #diceTwo, #diceThree, #diceFour, #diceFive, #diceSix, #imgRollDice {
    display: block;
    margin: auto
}

.bi-plus-circle, .bi-arrow-repeat, .bi-box-arrow-in-down, .bi-piggy-bank {
    padding-right: 1em;
    cursor: pointer;
}

.btn {
    width: 17em;
    font-weight: 700;
}

#diceScore {
   font-size: 1.5em;
   padding-top: 2em;
   font-weight: 700;
  
}

