*{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

body {
    background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5));

}

.container {
    
    /* border: ridge rgb(235, 156, 11);
    border-width: 6px; */
}

h1 {
    font-size: 4em;
    font-weight: 900;
}

h2 {
    font-size: 3em;
    font-weight: 700;
}

h3 {
    font-size: 2em;
    text-align: center;
    padding-right: 0.5em;
    font-weight: 700;
}

p {
    font-size: 2em;
}


#diceOne, #diceTwo, #diceThree, #diceFour, #diceFive, #diceSix, #imgRollDice {
    display: block;
    margin: auto
}

.bi-skip-start-circle, .bi-arrow-repeat, .bi-box-arrow-in-down, .bi-piggy-bank {
    padding-right: 1em;
    cursor: pointer;
}

.bi-circle-fill {
    margin-left: -3em;
}

.btn {
    width: 17em;
    font-weight: 700;
}

#diceScore {
   font-size: 1.5em;
   padding-top: 2em;
   font-weight: 700;
  
}

